@import "tailwindcss";

@font-face {
  font-family: "exo2-regular";
  src: url("../fonts/static/Exo2-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "exo2-bold";
  src: url("../fonts/static/Exo2-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "exo2-italic";
  src: url("../fonts/static/Exo2-Italic.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "exo2-bolditalic";
  src: url("../fonts/static/Exo2-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "exo2-extrabold";
  src: url("../fonts/static/Exo2-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "exo2-semibold";
  src: url("../fonts/static/Exo2-SemiBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
