body {
  user-select: none;
}

/* ! nav ------------------------------------------------------------- */
/* * menu */
.hamburger {
  cursor: pointer;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  /* The size of the SVG defines the overall size */
  height: 37px;
  /* Define the transition for transforming the SVG */
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: #c3a6ff;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

/* * dark light mode */
.themeToggle {
  width: 31px;
}

.st-sunMoonThemeToggleBtn {
  position: relative;
  cursor: pointer;
}

.st-sunMoonThemeToggleBtn .themeToggleInput {
  opacity: 0;
  width: 100%;
  aspect-ratio: 1;
}

.st-sunMoonThemeToggleBtn svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.4s ease;
  transform: rotate(40deg);
}

.st-sunMoonThemeToggleBtn svg .sunMoon {
  transform-origin: center center;
  transition: inherit;
  transform: scale(1);
}

.st-sunMoonThemeToggleBtn svg .sunRay {
  transform-origin: center center;
  transform: scale(0);
}

.st-sunMoonThemeToggleBtn svg mask > circle {
  transition: transform 0.64s cubic-bezier(0.41, 0.64, 0.32, 1.575);
  transform: translate(0px, 0px);
}

.st-sunMoonThemeToggleBtn svg .sunRay2 {
  animation-delay: 0.05s !important;
}
.st-sunMoonThemeToggleBtn svg .sunRay3 {
  animation-delay: 0.1s !important;
}
.st-sunMoonThemeToggleBtn svg .sunRay4 {
  animation-delay: 0.17s !important;
}
.st-sunMoonThemeToggleBtn svg .sunRay5 {
  animation-delay: 0.25s !important;
}
.st-sunMoonThemeToggleBtn svg .sunRay5 {
  animation-delay: 0.29s !important;
}

.st-sunMoonThemeToggleBtn .themeToggleInput:checked + svg {
  transform: rotate(90deg);
}
.st-sunMoonThemeToggleBtn .themeToggleInput:checked + svg mask > circle {
  transform: translate(16px, -3px);
}
.st-sunMoonThemeToggleBtn .themeToggleInput:checked + svg .sunMoon {
  transform: scale(0.55);
}
.st-sunMoonThemeToggleBtn .themeToggleInput:checked + svg .sunRay {
  animation: showRay1832 0.4s ease 0s 1 forwards;
}

@keyframes showRay1832 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

/* ! header --------------------------------------------------------- */
/* * title header */
.key {
  font-size: 40px;
  display: inline-block;
  letter-spacing: 2px;
  transition: transform 0.2s;
  animation: pressDown 2s infinite ease-in-out;
}

@keyframes pressDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

.key:nth-child(1) {
  animation-delay: 0s;
}
.key:nth-child(2) {
  animation-delay: 0.1s;
}
.key:nth-child(3) {
  animation-delay: 0.2s;
}
.key:nth-child(4) {
  animation-delay: 0.3s;
}
.key:nth-child(5) {
  animation-delay: 0.4s;
}
.key:nth-child(6) {
  animation-delay: 0.5s;
}
.key:nth-child(7) {
  animation-delay: 0.6s;
}
.key:nth-child(8) {
  animation-delay: 0.7s;
}
.key:nth-child(9) {
  animation-delay: 0.8s;
}
.key:nth-child(10) {
  animation-delay: 0.9s;
}
.key:nth-child(11) {
  animation-delay: 1s;
}
.key:nth-child(12) {
  animation-delay: 1.1s;
}
.key:nth-child(13) {
  animation-delay: 1.2s;
}
.key:nth-child(14) {
  animation-delay: 1.3s;
}
.key:nth-child(15) {
  animation-delay: 1.4s;
}
.key:nth-child(16) {
  animation-delay: 1.5s;
}
.key:nth-child(17) {
  animation-delay: 1.6s;
}
.key:nth-child(18) {
  animation-delay: 1.7s;
}
.key:nth-child(19) {
  animation-delay: 1.8s;
}
.key:nth-child(20) {
  animation-delay: 1.9s;
}
.key:nth-child(21) {
  animation-delay: 2s;
}
.key:nth-child(22) {
  animation-delay: 2.1s;
}
.key:nth-child(23) {
  animation-delay: 2.2s;
}
.key:nth-child(24) {
  animation-delay: 2.3s;
}
.key:nth-child(25) {
  animation-delay: 2.4s;
}
.key:nth-child(26) {
  animation-delay: 2.5s;
}
.key:nth-child(27) {
  animation-delay: 2.6s;
}
.key:nth-child(28) {
  animation-delay: 2.7s;
}
.key:nth-child(29) {
  animation-delay: 2.8s;
}
.key:nth-child(30) {
  animation-delay: 2.9s;
}
.key:nth-child(31) {
  animation-delay: 3s;
}
.key:nth-child(32) {
  animation-delay: 3.1s;
}
.key:nth-child(33) {
  animation-delay: 3.2s;
}

/* ? title header 2 */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");

:root {
  --clr-1: #00c2ff;
  --clr-2: #ff4040;
  --clr-3: #e3ed56;
  --clr-4: #e54cff;
  --blur: 1rem;
}

.aurora__item {
  overflow: hidden;
  position: absolute;
  width: 60vw;
  height: 60vw;
  background-color: var(--clr-1);
  border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  filter: blur(var(--blur));
  mix-blend-mode: overlay;
}

.aurora__item:nth-of-type(1) {
  top: -50%;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-1 12s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(2) {
  background-color: var(--clr-3);
  right: 0;
  top: 0;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-2 12s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(3) {
  background-color: var(--clr-2);
  left: 0;
  bottom: 0;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-3 8s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(4) {
  background-color: var(--clr-4);
  right: 0;
  bottom: -50%;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-4 24s ease-in-out infinite alternate;
}

@keyframes aurora-1 {
  0% {
    top: 0;
    right: 0;
  }

  50% {
    top: 100%;
    right: 75%;
  }

  75% {
    top: 100%;
    right: 25%;
  }

  100% {
    top: 0;
    right: 0;
  }
}

@keyframes aurora-2 {
  0% {
    top: -50%;
    left: 0%;
  }

  60% {
    top: 100%;
    left: 75%;
  }

  85% {
    top: 100%;
    left: 25%;
  }

  100% {
    top: -50%;
    left: 0%;
  }
}

@keyframes aurora-3 {
  0% {
    bottom: 0;
    left: 0;
  }

  40% {
    bottom: 100%;
    left: 75%;
  }

  65% {
    bottom: 40%;
    left: 50%;
  }

  100% {
    bottom: 0;
    left: 0;
  }
}

@keyframes aurora-4 {
  0% {
    bottom: -50%;
    right: 0;
  }

  50% {
    bottom: 0%;
    right: 40%;
  }

  90% {
    bottom: 50%;
    right: 25%;
  }

  100% {
    bottom: -50%;
    right: 0;
  }
}

@keyframes aurora-border {
  0% {
    border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  }

  25% {
    border-radius: 47% 29% 39% 49% / 61% 19% 66% 26%;
  }

  50% {
    border-radius: 57% 23% 47% 72% / 63% 17% 66% 33%;
  }

  75% {
    border-radius: 28% 49% 29% 100% / 93% 20% 64% 25%;
  }

  100% {
    border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  }
}
